BODY, INPUT, TEXTAREA {
	background-color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 0;
}

#layout {
	width: 100%;
	border-collapse: collapse;
}

#header {
	background-image: url(images/header_bg.gif);
	height: 44px;
	border-bottom: 1px solid white;
}

#header #title {
	color: white;
	font-size: 36px;
	font-style: italic;
	letter-spacing: -0.05em;
}

#menubar {
	background-image: url(images/menu_bg.gif);
	height: 20px;
}

#menubar ul {
	height: 20px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#menubar ul li {
	float: left;
	font-size: 11px;
	font-weight: bold;
	color: white;
	line-height: 20px;
}

#menubar .left {
	float: left;
}

#menubar .right {
	float: right;
}

#menubar ul li a {
	color: white;
	padding-left: 14px;
	padding-right: 14px;
	text-decoration: none;
	display: block;
	margin-left: 1px;
	margin-right: 1px;
}

#menubar ul li a:hover, #menubar ul li.active a {
	background-image: url(images/menu_active_bg.gif);
	color: black;
}

#shadow {
	height: 5px;
	background-image: url(images/shadow.png);
	_background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/shadow.png',sizingMethod='scale');
}

#content {
	padding: 10px;
}

INPUT, SELECT, TEXTAREA {
	border: 1px solid #C3BBB6;
	padding: 1px;
	background: #ffffff url(images/input_bg.gif) 0 0 repeat-x;
}

SELECT {
	font-size: 11px;
}

IMG {
    border: none;
    vertical-align: middle;
}

A {
	color: black;
}

.error {
	font-size: smaller;
	color: red;
}

.button {
	font-weight: bold;
	color: #ffffff;
	border: 1px solid black;
	background-image: url(images/button_bg.gif);
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 3px;
	padding-bottom: 3px;
}

H1, H2, H3 {
	color: navy;
}

TABLE.list {
	background-color: #f5f5f5;
	border: 1px solid #C3BBB6;
	border-collapse: collapse;
}

TABLE.list TH {
	border: 1px solid #C3BBB6;
	background: #ffffff url(images/th_bg.gif) 0 0 repeat-x;
	white-space: nowrap;
}

TABLE.list TH A {
	color: white;
}

TABLE.list TD {
	border: 1px solid #C3BBB6;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
}

TABLE.list CAPTION {
	color: black;
	text-align: left;
	font-weight: bold;
}

TH.sortable A {
	background-position: right;
	background-repeat: no-repeat; 
	display: block;
	width: 100%;
}

TH.order1 A {
	background-image: url(images/bullet_arrow_down.png);
}

TH.order2 A {
	background-image: url(images/bullet_arrow_up.png);
}

TABLE.detail {
	background-color: #f5f5f5;
	border: 1px solid #C3BBB6;
}

TABLE.detail CAPTION {
	color: black;
	font-weight: bold;
	text-align: left;
}

TABLE.detail TD.label {
	color: black;
	text-align: right;
	padding-right: 10px;
}

TABLE.detail TD.required {
	font-weight: bold;
}

TABLE.detail TD {
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
}

.shrink {
	width: 1%;
}

DIV.section-header {
	font-size: 12px;
	color: white;
	font-weight: bold;
	border: 1px solid #C3BBB6;
	background: #ffffff url(images/th_bg.gif) 0 0 repeat-x;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
}

SPAN.highlight {
	background-color: yellow;
}
